<section class="entire-footer bg-[#F9F9F9] p-6 md:p-16 lg:p-20 py-10 xl:px-32 xl:py-16 2xl:px-40 3xl:px-72 flex flex-col gap-12">
    <div class="footer-upper flex flex-row items-start justify-between">

        <div class="left-side flex flex-row items-start flex-wrap gap-12 md:gap-20 lg:gap-12">
            <div class="link-group flex flex-col items-start gap-4">
                <span class="font-[Grifter-Bold] text-xl">Company</span>
    
                <div class="flex flex-col items-start gap-3">
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">About</span>
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">Contact</span>
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">Blog</span>
                </div>
            </div>
    
            <div class="link-group flex flex-col items-start gap-4">
                <span class="font-[Grifter-Bold] text-xl">Product</span>
    
                <div class="flex flex-col items-start gap-3">
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">Money conversion</span>
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">International transactions</span>
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">International transactions</span>
                </div>
            </div>
    
            <div class="link-group flex flex-col items-start gap-4">
                <span class="font-[Grifter-Bold] text-xl">Legal</span>
    
                <div class="flex flex-col items-start gap-3">
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">Terms & conditions</span>
                    <span class="font-[Satoshi-Regular] text-[#3A3A3A]">Privacy policy</span>
                </div>
            </div>
        </div>

        <div class="input-group hidden lg:flex flex-col items-start gap-3">
            <span class="font-[Grifter-Bold] text-xl">Company</span>

            <div class="input-wrapper border p-1 rounded-3xl">
                <input class="bg-transparent focus:outline-none ml-4 placeholder:text-[#3A3A3A] placeholder:font-[Satoshi-Regular]" type="email" placeholder="Enter email">
                <button class="px-6 py-2 rounded-3xl bg-[#563ACC] text-white font-[Satoshi-Regular]">Subscribe</button>
            </div>
        </div>
        

    </div>

    <div class="footer-lower flex flex-col lg:flex-row lg:justify-between items-start lg:items-center gap-4 md:gap-8">
        <div class="icons-wrapper flex flex-row items-center gap-10">
            <div class="icon w-12 h-12 rounded-full flex items-center justify-center bg-white">
                <img src="/assets/svgs/instagram-logo.svg" alt="">
            </div>

            <div class="icon w-12 h-12 rounded-full flex items-center justify-center bg-white">
                <img src="/assets/svgs/twitter-logo.svg" alt="">
            </div>

            <div class="icon w-12 h-12 rounded-full flex items-center justify-center bg-white">
                <img src="/assets/svgs/tiktok-logo.svg" alt="">
            </div>

            <div class="icon w-12 h-12 rounded-full flex items-center justify-center bg-white">
                <img src="/assets/svgs/youtube-logo.svg" alt="">
            </div>
        </div>

        <span class="rights-txt font-[Satoshi-Regular]">© 2023, FinanaceFast All Rights Reserved.</span>

    </div>
</section>