<section class="main-container">


  <div class="hero-section p-6 pt-10">

    <div class="hero-upper flex flex-col items-center gap-10">

      <!-- Navbar -->
      <div class="navbar flex flex-row items-center justify-between w-full">

        <!-- Left side of nav which has the logo and logo title-->
        <div class="left flex flex-row items-center gap-2">
          <img src="/assets/svgs/icn-logo.svg" alt="">
          <span class="font-[Satoshi-Medium]">FinanceFast</span>
        </div>

        <!-- Left side of nav which has the menu icon -->
        <div class="right">
          <img src="/assets/svgs/icn-menu-hamburger.svg" alt="">
        </div>
      </div>

      <!-- Center of the hero (with the animated texts)-->
      <div class="hero-center flex flex-col items-center gap-8">

        <div class="header-txt text-center flex flex-col gap-4">


          <div class="main-header-wrapper flex flex-row items-end">

            <span
              class="hero-text-wrapper flex flex-row flex-wrap justify-center gap-0 md:gap-2 items-center text-center font-[Grifter-Bold] text-3xl whitespace-wrap overflow-hidden relative">
              <span class="mainHeroText text-[#1A1A1A]">
              </span>
              <span class="blue-text text-[#563ACC]">
              </span>
              <!-- <span class="cursor w-[2px] h-6 bg-black inline rounded-full"></span> -->
            </span>

          </div>



          <span class="subHeroText font-[Satoshi-Light] text-[#3A3A3A]">Say Goodbye to the Hassles of Traditional Money
            Transfers. Effortlessly transfer with ease.</span>
        </div>

        <div class="hero-lower flex flex-col items-center gap-8 w-full opacity-0">

          <input type="text" class="rounded-3xl px-8 py-3 border-2 w-full">
          <button class="rounded-3xl bg-[#563ACC] px-8 py-3 text-white font-[Satoshi-Light] w-full">Download
            Now</button>

        </div>
      </div>

    </div>
  </div>

  <!-- Container holding the 4 Mockups-->
  <div class="mockup-group flex flex-row items-center pt-64 mt-6 overflow-hidden h-28 w-full justify-center">
    <img src="/assets/images/mockup-4-iphone13.png" alt="">
    <img class="mb-20"  src="/assets/images/mockup-1-iphone13.png" alt="">
    <img src="/assets/images/mockup-2-iphone13.png" alt="">
    <img src="/assets/images/mockup-3-iphone13.png" alt="">
  </div>


  <div class="partners-container h-32 bg-[#E5DBFB]">

  </div>
</section>