.box-overlay{
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.box-overlay.second{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.hero-lower{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.hero-text-wrapper::after{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 100%;
    display: inline-block;
}

@keyframes marquee{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-105.5%);
    }
}

.carousel{
    width: max-content;
}

.carousel-inner{
    animation: 10s marquee infinite linear;
}