<section class="main-container">
  <div class="hero-section p-6 md:p-12 pt-10">
    <div class="hero-upper flex flex-col items-center gap-10">
      <!-- Navbar -->
      <div class="navbar flex flex-row items-center justify-between w-full">
        <!-- Left side of nav which has the logo and logo title-->
        <div class="left flex flex-row items-center gap-2">
          <img src="/assets/svgs/icn-logo.svg" alt="" />
          <span class="font-[Satoshi-Medium]">FinanceFast</span>
        </div>

        <!-- Left side of nav which has the menu icon -->
        <div class="right">
          <img src="/assets/svgs/icn-menu-hamburger.svg" alt="" />
        </div>
      </div>

      <!-- Center of the hero (with the animated texts)-->
      <div class="hero-center flex flex-col items-center gap-8 md:w-[30rem]">
        <div class="header-txt text-center flex flex-col gap-4">
          <div class="main-header-wrapper flex flex-row items-end">
            <span
              class="hero-text-wrapper flex flex-row flex-wrap justify-center gap-0 md:gap-1 items-center text-center font-[Grifter-Bold] text-3xl whitespace-wrap overflow-hidden relative"
            >
              <span class="mainHeroText text-[#1A1A1A]"> </span>
              <span class="blue-text text-[#563ACC]"> </span>
              <!-- <span class="cursor w-[2px] h-6 bg-black inline rounded-full"></span> -->
            </span>
          </div>

          <span
            class="subHeroText md:hidden block font-[Satoshi-Light] text-[#3A3A3A] translate-y-16 opacity-0"
            >Say Goodbye to the Hassles of Traditional Money Transfers.
            Effortlessly transfer with ease.</span
          >

          <span
            class="subHeroText hidden md:block font-[Satoshi-Light] text-[#3A3A3A] translate-y-16 opacity-0"
            >Say Goodbye to the Hassles of Traditional Money Transfers.
            FinanceFast allows you effortlessly transfer money anywhere in the
            world with confidence and ease.</span
          >
        </div>

        <div
          class="hero-lower rounded-[2rem] md:p-1 px-8 py-3 md:border-2 border-[#94949480] flex flex-col md:flex-row items-center gap-8 w-full md:w-[80%] opacity-0 translate-y-16"
        >
          <input
            type="text"
            class="md:border-0 rounded-3xl px-8 py-3 border-2 border-[#94949480] w-full"
          />
          <button
            class="rounded-3xl bg-[#563ACC] px-8 py-3 text-white font-[Satoshi-Light] w-full"
          >
            Download Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Container holding the 4 Mockups-->
  <div
    class="mockup-group flex flex-row items-end pt-64 mt-6 lg:gap-4 overflow-hidden h-28 md:h-80 w-full justify-center translate-y-16 opacity-0"
  >
    <img
      class="w-40 md:w-44 lg:w-52"
      src="/assets/images/mockup-4-iphone13.png"
      alt=""
    />
    <img
      class="w-40 md:w-44 lg:w-52"
      src="/assets/images/mockup-1-iphone13.png"
      alt=""
    />
    <img
      class="w-40 md:w-44 lg:w-52"
      src="/assets/images/mockup-2-iphone13.png"
      alt=""
    />
    <img
      class="w-40 md:w-44 lg:w-52"
      src="/assets/images/mockup-3-iphone13.png"
      alt=""
    />
  </div>

  <div
    class="partners-container opacity-0 bg-[#E5DBFB] flex flex-col gap-8 items-start overflow-hidden lg:flex-row p-8 md:p-10 pr-0"
  >
    <span class="font-[Satoshi-Regular] w-[18rem]"
      >We're have been recognized by Leading Finance Publications and
      Organizations.</span
    >

    <div class="carousel w-max flex flex-row items-center gap-16">
      <div class="carousel-inner flex flex-row gap-12 items-center whitespace-nowrap">
        <img
          class="logo h-8"
          src="/assets/svgs/icn-huffpost.svg"
          alt=""
        />

        <img
          class="logo h-8"
          src="/assets/svgs/icn-bloomberg.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-techcrunch.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-havard.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-combinator.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-fastcompany.svg"
          alt=""
        />
      </div>

      <div class="carousel-inner flex flex-row gap-12 items-center whitespace-nowrap">
        <img
          class="logo h-8"
          src="/assets/svgs/icn-huffpost.svg"
          alt=""
        />

        <img
          class="logo h-8"
          src="/assets/svgs/icn-bloomberg.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-techcrunch.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-havard.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-combinator.svg"
          alt=""
        />
        <img
          class="logo h-8"
          src="/assets/svgs/icn-fastcompany.svg"
          alt=""
        />
      </div>

    </div>
  </div>

  <!-- First feature section -->
  <section
    class="feature-section p-6 md:p-10 lg:p-14 pt-20 hidden flex-col items-center gap-8"
  >
    <!-- Lower part of the feature section -->
    <div
      class="top-feature-section md:w-[55%] flex flex-col items-center justify-center text-center gap-2"
    >
      <span
        class="feature-section-subHeader text-[#6364FF] uppercase text-[0.75rem] font-[Satoshi-Medium]"
        >Cross-Border Transactions</span
      >
      <span
        class="feature-section-mainHeader font-[Grifter-Bold] text-3xl text-[#1A1A1A]"
        >Say Goodbye to International Payment Hassles</span
      >
      <span
        class="feature-section-subheader font-[Satoshi-Light] text-[#3A3A3A]"
        >Start your journey to hassle free Cross-Border Payments with
        FastFinance.</span
      >
    </div>

    <!-- Lower part of the feature section -->
    <div
      class="lower-feature-section w-full flex flex-col md:flex-row items-center gap-6"
    >
      <div class="hassle-points-box bg-transparent w-full">
        <!-- First half of the hassle points-->
        <div
          class="inner-box h-44 w-full p-4 flex flex-col items-start justify-center gap-6 relative"
        >
          <div class="box-overlay w-full h-full absolute top-0 left-0"></div>

          <!-- hassle points (3 each for one box)-->
          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]"
              >Transfer delays and inconvenience</span
            >
          </div>

          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]">Fraud and loss of funds</span>
          </div>

          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]"
              >Traditional in-person transactions</span
            >
          </div>
        </div>

        <!-- Middle container (another hassle point)-->

        <div
          class="center-hassle-point flex flex-row gap-2 items-center w-fit rounded-3xl bg-[#F9F9F9] px-3 py-2 ml-3 text-white font-[Satoshi-Light] border-[1px] border-[#94949480]"
        >
          <img src="/assets/svgs/icn-x-mark-red.svg" alt="" />
          <span class="text-[#3A3A3A]">Lack of transparency</span>
        </div>

        <!-- Second half of the hassle points-->
        <div
          class="inner-box h-44 w-full p-4 flex flex-col items-start justify-center gap-6 relative"
        >
          <div
            class="box-overlay second w-full h-full absolute top-0 left-0"
          ></div>

          <!-- hassle points (3 each for one box)-->
          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]">Limited payment methods</span>
          </div>

          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]">Complex verification processes</span>
          </div>

          <div class="point flex flex-row items-center gap-2">
            <img src="/assets/svgs/icn-x-mark.svg" alt="" />
            <span class="text-[#3A3A3A]">Hidden costs</span>
          </div>
        </div>
      </div>

      <!-- VS divider -->
      <div
        class="divider flex flex-row md:flex-col items-center w-full md:w-auto md:h-full gap-4"
      >
        <div
          class="line-left w-[50%] h-[1px] md:w-[1px] md:h-[50%] bg-[#94949480]"
        ></div>
        <span>VS</span>
        <div
          class="line-right w-[50%] h-[1px] md:w-[1px] md:h-[50%] bg-[#94949480]"
        ></div>
      </div>

      <!-- Purple Container -->
      <div
        class="purple-feature-container w-full h-[22rem] rounded-3xl bg-[#EAE7FFB2] flex flex-col gap-8 py-7 px-4"
      >
        <div
          class="image-container h-[60%] overflow-hidden flex justify-center items-start"
        >
          <img
            class="purple-container-image w-[60%]"
            src="/assets/images/mockup-1-iphone13.png"
            alt=""
          />
        </div>

        <div class="text-container flex flex-col items-start gap-2">
          <span
            class="purple-mainHeader font-[Grifter-Bold] text-[1.25rem] text-[#1A1A1A]"
            >Global accounts in minutes</span
          >
          <span class="purple-subHeader font-[Satoshi-Light] text-[#3A3A3A]"
            >FinanceFast solves problems by proving low fees, fast transfers,
            secure transactions, and a user-friendly platform.</span
          >
        </div>
      </div>
    </div>
  </section>
</section>
