<!-- Testimonials section -->
<section
    class="testimonials-section p-6 md:p-10 lg:p-14 pt-20 xl:px-32 xl:py-16 2xl:px-40 3xl:px-72 flex flex-col items-center gap-8">
    <!-- Lower part of the Testimonials section -->
    <div class="top-testimonials-section md:w-[55%] flex flex-col items-center justify-center text-center gap-2">
        <span
            class="testimonials-section-subHeader text-[#6364FF] uppercase text-[0.75rem] font-[Satoshi-Medium]">Testimonials</span>
        <span class="testimonials-section-mainHeader font-[Grifter-Bold] text-3xl text-[#1A1A1A]">What Our Customers are
            Saying</span>
    </div>

    <!-- Lower part of the Testimonials section -->

    <section class="lower-testimonials-section w-full h-full overflow-hidden">

        <!-- Wrapper to wrap all x no. of testimonials (Will be animated w GSAP) -->
        <div class="scroll-wrapper-testimonials flex flex-row items-center h-fit w-[300%]">

            <!-- Testimonial 1 -->
            <div class="wrapper p-4 w-[100vw]">
                <div
                    class="testimonial-card bg-[#E5DBFBB2] border-[1px] border-[#94949480]  h-[20rem] w-full rounded-3xl relative overflow-hidden">

                    <div
                        class="bottom-section border-t-[1px] border-[#94949480] h-[30%] bg-[#E5DBFB] absolute bottom-0 w-full flex items-center justify-center">

                        <div class="reviewer flex flex-row items-center gap-4 w-fit">
                            <div class="image-container h-12 w-12 rounded-full bg-[url('/assets/images/carl-img.png')] bg-cover bg-center">

                            </div>
                            <div class="text-container flex flex-col items-start">
                                <span class="font-[Grifter-Bold] text-[#1A1A1A]">Carl Rowan</span>
                                <span class="font-[Satoshi-Light] text-[#3A3A3A] leading-3">Aglets Inc</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial 2 -->
            <div class="wrapper p-4 w-[100vw]">
                <div
                    class="testimonial-card bg-[#E5DBFBB2] border-[1px] border-[#94949480]  h-[20rem] w-full rounded-3xl relative overflow-hidden">

                    <div
                        class="bottom-section border-t-[1px] border-[#94949480] h-[30%] bg-[#E5DBFB] absolute bottom-0 w-full flex items-center justify-center">

                        <div class="reviewer flex flex-row items-center gap-4 w-fit">
                            <div class="image-container h-12 w-12 rounded-full bg-[url('/assets/images/carl-img.png')] bg-cover bg-center">

                            </div>
                            <div class="text-container flex flex-col items-start">
                                <span class="font-[Grifter-Bold] text-[#1A1A1A]">Carl Rowan</span>
                                <span class="font-[Satoshi-Light] text-[#3A3A3A] leading-3">Aglets Inc</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="wrapper p-4 w-[100vw]">
                <div class="testimonial-card bg-[#F6DDFDB2] border-[1px] border-[#94949480]  h-[20rem] w-full rounded-3xl relative overflow-hidden">

                    <div
                        class="bottom-section border-t-[1px] border-[#94949480] h-[30%] bg-[#F6DDFD] absolute bottom-0 w-full flex items-center justify-center">

                        <div class="reviewer flex flex-row items-center gap-4 w-fit">
                            <div class="image-container h-12 w-12 rounded-full bg-[url('/assets/images/carl-img.png')] bg-cover bg-center">

                            </div>
                            <div class="text-container flex flex-col items-start">
                                <span class="font-[Grifter-Bold] text-[#1A1A1A]">Carl Rowan</span>
                                <span class="font-[Satoshi-Light] text-[#3A3A3A] leading-3">Aglets Inc</span>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </section>

</section>