<!-- Testimonials section -->
<section
    class="testimonials-section p-6 md:p-10 lg:p-14 pt-20 xl:px-32 xl:py-16 2xl:px-40 3xl:px-72 flex flex-col items-center gap-8">
    <!-- Lower part of the Testimonials section -->
    <div class="top-testimonials-section md:w-[55%] flex flex-col items-center justify-center text-center gap-2">
        <span
            class="testimonials-section-subHeader text-[#6364FF] uppercase text-[0.75rem] font-[Satoshi-Medium]">Testimonials</span>
        <span class="testimonials-section-mainHeader font-[Grifter-Bold] text-3xl text-[#1A1A1A]">What Our Customers are
            Saying</span>
    </div>

    <!-- Lower part of the Testimonials section -->

    <section class="lower-testimonials-section w-full h-full overflow-hidden">

        <!-- Wrapper to wrap all x no. of testimonials (Will be animated w GSAP) -->
        <div class="scroll-wrapper-testimonials flex flex-row items-center h-fit w-[300%]">

            <!-- Testimonial 1 -->
            <div class="wrapper p-4 w-[100vw]">
            <div class="testimonial-card bg-[#E5DBFBB2] h-[20rem] w-full rounded-3xl">

            </div>
            </div>

            <!-- Testimonial 2 -->
            <div class="wrapper p-4 w-[100vw]">
            <div class="testimonial-card bg-[red] h-[20rem] w-full rounded-3xl">

            </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="wrapper p-4 w-[100vw]">
            <div class="testimonial-card bg-[blue] h-[20rem] w-full rounded-3xl">

            </div>
            </div>
        </div>

    </section>

</section>


